<h2>Academic Leaderboard</h2>
<div>
<p> Consistent effort is one of the most important aspects of learning anything. The academic leaderboard is meant to showcase an ordered list of the users with the most unique log-ins.</p>
</div>
<% @rankings.each do |ranking| %>
<div>
  <%= ranking %>
</div>
<% end %>