<%= javascript_include_tag('card.js') %>

<div>
  Question: <%= @card.question %><br>
</div>

<button onclick="myFunction()">Answer</button>

<div id="myDIV" style='display:none'>
  The answer is: <%= @card.answer %>
</div>

