<h2>Create a new set of flashcards</h2>

<%= form_for [@user, @deck] do |f| %>
<%= render partial: 'decks/form', locals: { f: f, id: current_user.id } %>
<%= f.submit "Create Deck" %>
<% end %>

<div id="deckResult">
<h2 id="deckName"></h2>
<h2 id="deckSubject"></h2>
</div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(e) {
      e.preventDefault();
      var values = $(this).serialize();
      //debugger;
      var userId = $('#deck_user_id')[0].value;
      var posting = $.post(`/users/${userId}/decks`, values);
        posting.done(function(data) {
          var deck = data;
          var name = $('#deckName').text(data['name'])
          var subject = $('#deckSubject').text(data['subject']['name'])
          //this is kind of just a demonstration of object prototyping in js and not adding that much function
          var thisDeck = new currentDeck(data['name'], data['subject']['name']);
          debugger;
          $('#deckResult').append(thisDeck.format())
        });
    });
  });
</script>


