<h2>Create a new set of flashcards</h2>

<%= form_for [@user, @deck] do |f| %>
<%= render partial: 'decks/form', locals: { f: f, id: current_user.id } %>
<%= f.submit "Create Deck" %>
<% end %>

<div id="deckResult">
<h2 id="deckName"></h2>
<h2 id="deckSubject"></h2>
</div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(e) {
      e.preventDefault();
      var values = $(this).serialize();
      //debugger;
      var userId = $('#deck_user_id')[0].value;
      var posting = $.post(`/users/${userId}/decks`, values);
        posting.done(function(data) {
          var deck = data;
          //debugger;
          $('#deckName').text(data['name'])
          $('#deckSubject').text(data['subject']['name'])
        });
    });
  });
</script>

